@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css');

:root {
    /* Define a range of shades of purple */
    --purple-1: hsl(190, 62%, 47%);
    --purple-2: hsl(270, 50%, 15%);
    --purple-3: hsl(270, 50%, 20%);
    --purple-4: hsl(270, 50%, 25%);
    --purple-5: hsl(270, 50%, 30%);
    --purple-6: hsl(270, 50%, 35%);
    --purple-7: hsl(270, 50%, 40%);
    --purple-8: hsl(270, 50%, 45%);
    --purple-9: hsl(270, 50%, 50%);
    --purple-10: hsl(270, 50%, 55%);
    --purple-11: hsl(270, 50%, 60%);
    --purple-12: hsl(270, 50%, 65%);
    --purple-13: hsl(270, 50%, 70%);
    --purple-14: hsl(270, 50%, 75%);
    --purple-15: hsl(270, 50%, 80%);
    --purple-16: hsl(270, 50%, 85%);
    --purple-17: hsl(270, 50%, 90%);
    --purple-18: hsl(270, 50%, 95%);
    --purple-19: hsl(270, 50%, 98%);
    --purple-20: hsl(270, 50%, 100%);
}

* {
    font-family:  sans-serif;
}

.custom-navbar .navbar-brand{
    color: var(--purple-7);
}

.custom-navbar .navbar-nav{
    color: var(--purple-7);
}

.custom-navbar .nav-link.active{
    color: var(--purple-7);
}

.custom-navbar .nav-link.dropdown-toggle {
    color: var(--purple-7);
}



.custom-navbar .search-button {
    color: var(--purple-7);
    border-color: var(--purple-7);
}

.custom-navbar .search-button:hover {
    color: white;
    background-color: var(--purple-7);
}

.background-purple-10 {
    background-color: var(--purple-10);
}

.highlight-brand {
    background: linear-gradient(45deg,  #6392c7, #d870ad);  /* Background color */
    color: rgb(225, 199, 199);               /* Text color */
    padding: 4px 4px;         /* Add padding */
    border-radius: 15px;         /* Round the corners */
    font-size: 1.8rem;
}

.highlight-brand:hover {
    background: linear-gradient(27deg, #d870ad, #6392c7); /* Reverse gradient on hover */
    
}



.navbar-brand {
    line-height: 70px;
    padding: 0.05px 5px;
    font-size: 24px;
    color:hsl(270, 50%, 100%)
}




.navbar-toggler-icon {
    color: white;
}

.custom-navbar .navbar-nav .nav-link {
    font-weight: bold;
}

.spotted-stray .card-header {
    background-color: var(--purple-10);
}

.footer span {
    color: var(--purple-7);
}

body {
    background-color: var(--purple-19);
    overflow-y: scroll; /* added a scroll wheel to every page to prevent shift of navbar in presence of a scroll wheel */
    padding-right: 15px; /* shifted page to the right to center more because of the wheel */
}

/* For report lost */

.border-purple {
    border: 1px solid #6e42c150;
}

.main-prp {
    color: var(--purple-7);
}

.bg-main-prp {
    color: var(--purple-7);
}

.btn-purple {
    background-color: #6f42c1; /* Adjust this color to match your purple */
    border: none;
    color: white;
}

.btn-purple:hover {
    background-color: #5a31a1; /* Darker shade for hover effect */
}

/* Leaflet CSS */
.leaflet-container {
    height: 200px; /* Set height for your mini map */
    width: 100%; /* Full width */
}

.navbar-nav {
    background: linear-gradient(45deg,  #b24ed0, #767fd8);  /* Background color */
    color: rgb(225, 199, 199);               /* Text color */
    padding: 4px 4px;         /* Add padding */
    border-radius: 25px;         /* Round the corners */
    font-size: 1.2rem;letter-spacing: 2px;                     /* Increase spacing between the words */
    border-width: 2px dashed white;                /* Add small white dashes within the border */
}

