/* Navbar.css */

.custom-navbar {
  background: rgba(255, 255, 255, 0.75);
  padding: 15px 20px;
  position: sticky;
  top: 0;
  z-index: 10;
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  display: flex;
  align-items: center;
  color: #4a4a4a;
  font-weight: bold;
  font-size: 1.4rem; /* Slightly larger font for site name */
  text-decoration: none;
}

.brand-text {
  font-size: 1.4rem; /* Increase font size for emphasis */
  color: #333333; /* Dark gray to distinguish from nav links */
  font-weight: 700; /* Bolder weight to stand out */
}

.navbar-nav .nav-item .nav-link {
  color: #4a4a4a;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 8px 15px;
  transition: color 0.3s;
}

.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item .nav-link:hover {
  color: #fca311;
  border-bottom: 2px solid #fca311;
}

.login-button {
  background-color: #fca311;
  color: #3d2e27;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #ff9800;
}

.active-link {
border-bottom: 2px solid orange;
font-weight: bold;
}
