.avatar-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #4e3606;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    transition: border 0.3s ease, transform 0.3s ease; 
    position: relative;
}

.profile-avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.avatar-circle:hover {
    border: 3px solid rgb(222, 118, 20); 
    transform: scale(1.1); 
}

/* Dot for profile avatar */
.unread-dot-profile {
    width: 8px;
    height: 8px;
    background-color: #ff4b4b;
    border-radius: 50%;
    position: absolute;
    top: -1px;
    right: -1px;
    box-shadow: 0px 0px 4px rgba(255, 75, 75, 0.6);
}

/* Dot for Messages dropdown item */
.unread-dot-dropdown {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #ff4b4b;
    border-radius: 50%;
    margin-left: 1px;
}

/* Dropdown menu adjustments for alignment */
.dropdown-menu {
    background-color: white;
    border: 1px solid #fdf2e9;
    min-width: 100px;
    padding: 5px 0;
    text-align: center;
    transform: translate(-42%, 10px); /* Adjusted to be more centered */
    z-index: 20;
}

.dropdown-item {
    padding: 5px;
    color: #e6babc;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.dropdown-item:hover {
    background-color: #472805;
    color: #e6babc;
}
@media (max-width: 320px) {
    .dropdown-item {
        padding: 8px;
        color: #e6babc;
        text-decoration: none;
        font-size: 12px;
        font-weight: 500;
        
    }
    .dropdown-menu {
        background-color: white;
        border: 1px solid #fdf2e9;
        min-width: 100px;
        padding: 4px 0;
        text-align: center;
        transform: translate(-42%, 10px); /* Adjusted to be more centered */
    }
}