/* ReadMore.module.css */
.card {
    border: 1px solid #dcdcdc; /* Light border for visibility */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Prevent content from overflowing */
}


.card-img-top {
    width: 80%; /* Smaller image size */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Rounded corners */
    margin: 0 auto; /* Center the image */
    display: block; /* Make it a block element */
}

.card-body {
    padding: 15px; /* Increase padding for better spacing */
}

.list-group {
    border: 1px solid #dcdcdc; /* Light border around the list */
    border-radius: 10px; /* Rounded corners for the list */
}

.list-group-item {
    font-size: 1.1rem; /* Larger font size for readability */
    background-color: #f8f9fa; /* Light background color for items */
    border-bottom: 1px solid #dcdcdc; /* Separate list items */
}

.list-group-item:last-child {
    border-bottom: none; /* Remove the border from the last item */
}

.btn {
    background-color: #7B4BA4; /* Theme color */
    color: white; /* White text for contrast */
}

.btn:hover {
    background-color: #6a3c8c; /* Darker shade on hover */
}

.map-container {
    margin-top: 20px; /* Space above the map */
    border-radius: 10px; /* Rounded corners for the map */
    overflow: hidden; /* Prevent overflow */
}

/* YourComponent.module.css */
.modalOverlay {
    background-color: rgba(0, 0, 0, 0.5); /* Overlay color */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000; /* Make sure the overlay is on top */
}

.customModal {
    width: 400px; /* Set your desired width */
    max-width: 90%; /* Responsive max width */
    height: 275px; /* Set your desired height */
    max-height: 90%; /* Responsive max height */
    margin: auto; /* Center the modal */
    padding: 20px; /* Inner padding */
    border-radius: 10px; /* Rounded corners */
    border: 1px solid #ccc; /* Border style */
    background-color: white; /* Background color of the modal */
    position: fixed; /* Fixed positioning to allow centering */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for the modal's size */
}