.container {
    margin-top: 20px;
}
/* Tab Styling */
.tab-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  
  .tab-button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    background-color: #f8f1eb; /* Light background */
    color: #333333;
    margin: 0 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  }
  
  .tab-button.active {
    background-color: #fca311; /* Highlight color for active tab */
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .tab-button:hover {
    background-color: #fca311;
    color: white;
  }
  