/* Dropdown Container */
.animal-dropdown-container {
    position: absolute;
    top: 10px;
    right: 0px;
    z-index: 2;
}

.animal-dropdown-toggle {
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 1.5rem;
    color: #757575;
    border-radius: 50%;
    background: none; 
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animal-dropdown-menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background: #fca311;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 5px 0;
    min-width: 100px;
    border-radius: 4px;
}

.animal-dropdown-menu.show {
    display: block;
}

.animal-dropdown-item {
    padding: 10px 15px;
    font-size: 0.9rem;
    cursor: pointer;
    background: none;
    border: none;
    text-align: left;
    width: 100%;
    color: #333;
}

.animal-dropdown-item:hover {
    background-color: #f2f2f2;
}

/* Modal Styling */
.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    max-width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content h4 {
    margin-bottom: 15px;
}

.modal-content select,
.modal-content button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal-content button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
}
/* -------------*/

.comment-icon {
    font-size: 1.5rem;
    color: #607d8b;
    margin-left: auto;
    cursor: pointer;
    opacity: 0.5; /* Semi-transparent */
    transition: opacity 0.3s ease; /* Smooth transition */
}

.comment-icon:hover {
    opacity: 1; /* Fully visible on hover */
}

.comment-icon-container {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  }
  
  .comment-count {
    font-size: 0.9rem;
    color: #555;
  }
  
