.messageWrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
  max-width: 50%;
  
}

.bubbleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sent .bubbleContainer {
  align-items: flex-end;
}

.sent {
  align-items: flex-end;
  margin-left: auto;
  justify-content: flex-end;
  display: flex;
}

.received {
  align-items: flex-start;
  margin-right: auto;
  justify-content: flex-start;
  display: flex;
}

.profileIcon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.messageBubble {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
  width: fit-content;
}

.sent .messageBubble {
  background-color: #d4f8d4;
}

.received .messageBubble {
  background-color: #e0e0e0;
}

.messageContent {
  margin: 0;
}

.timestamp {
  font-size: 0.75rem;
  color: #888;
  margin-top: 2px;
  text-align: left;
}

.sent .timestamp {
  text-align: right;
}

.messagePanel {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: calc(100vh - 90px);
  background-color: #f9f9ff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  overflow: hidden;
}

.messageHistory {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.messageInputContainer {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.messageInput {
  flex-grow: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
}

.messageInput:focus {
  border-color: #4b0082;
}

.sendButton {
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.sendButton:hover {
  background-color: #45a049;
}

.panelHeader {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #4b0082;
}

.selectUserPrompt {
  font-style: italic;
  color: #555;
}

.waitingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 100%;
}

.waitingImage {
    width: 150px;
    height: auto;
    max-width: 100%;
    margin-bottom: 20px;
}

.bubbleProfileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.bubbleInitial {
    width: 30px;
    height: 30px;
    background-color: #4e3606;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 50%;
}

.avatarCircle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4e3606;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
}
