.header {
    font-size: 2.5rem; /* Adjust size if needed */
    font-weight: bold;
    color: #2c3e50; /* Ensure it matches the color used in MyListings */
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'YourFont', sans-serif; /* Ensure this font is loaded in your global styles or imported */
}

.userList {
  width: 40%;
  padding: 15px;
  background-color: #f4f4f4;
  border-right: 1px solid #ddd;
  overflow-y: auto;
  border-radius: 8px 0 0 8px;
}

.userListItem {
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #fff;
  transition: background-color 0.3s ease, box-shadow 0.2s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.userListItem:hover {
  background-color: #ececec;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.userListItemSelected {
  background-color: #dfe4ff;
  border-left: 4px solid #4b0082; /* Add a border for active items */
}

.username {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
}

.lastMessage {
  font-size: 0.85rem;
  color: #888;
  margin-top: 5px;
}

