.container {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.bigContainer {
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: #c0a58f solid 10px;
    background-color:#ceb199;
}

.card{
    margin: 15px; /* Space between cards */
    padding: 20px; /* Padding inside the card */
}

.centerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color:#fdf2e9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.heading {
    font-size: 1.8rem;
    color: #4a4a4a;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
}

.p {
    text-align: center;
    color: #4a4a4a;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 10px;
}

.iconCheckButton {
    cursor: pointer;
    color: rgb(0, 222, 0);
    font-size: 50px;
    margin: 10px;
    transition: transform 0.2s ease, color 0.2s ease;
}
  
.iconCheckButton:hover {
    transform: scale(1.2);
    color: rgb(0, 180, 0);
}

.iconXButton {
    cursor: pointer;
    color: rgb(222, 2, 2);
    font-size: 50px;
    margin: 0px 10px 0px 10px;
    transition: transform 0.2s ease, color 0.2s ease;
}
  
.iconXButton:hover {
    transform: scale(1.2);
    color: rgb(180, 4, 4);
}

.slider {
    height: 5px;
    background-color: #ddd;
}

.grayBar {
    background-color: gray !important; /* Set background to gray */
    height: 100%; /* Ensure it fills the container */
    border-radius: 4px; /* Optional: round edges */
}